/* CSS BY SARAH MOORE */

/* IMPORTED FONTS*/
/* IMPORT "INTER" FROM GOOGLE FONTS"*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --blue: #007BFF;
    --red: #FF4500;
    --white: #EAEAEA;
    --black: #000000;
    --charcoal: #333333;
    --font: "Inter", sans-serif;
    --height: 12.5rem;
}

/* GLOBAL STYLES (MOBILE FIRST (SMALL) */
@media only screen and (min-width: 400px) {  
    /* MIN-WIDTH OF THE PAGE SHOULD NOT GO BELOW 400PX */
    body {
        min-width: 25rem;
        font-family: var(--font);
        width: 100%;
    }
    header{
        background-color: #000000;
        color: #007BFF;
    }
    h1{
        font-size: 1.875rem;
        font-weight: 700;
    }
    header .container {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
    }
    #menu-toggle {
        display: none;
    }
    
    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    nav h2 {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }
    nav label {
        cursor: pointer;
        display: block;
        padding: 1rem;
        z-index: 100;
    }
    nav ul {
        display: none; 
        list-style: none;
        width: 100%; /* Spans the full width for centering */
        background-color: var(--black);
        padding: 0;
        margin: 0;
    }
    nav label span {
        display: block;
        background: var(--white);
        height: 3px;
        width: 25px;
        position: relative;
        transition: 0.3s;
    }
    nav ul li {
        text-align: center;
    }
    nav ul li a {
        display: block;
        padding: 1.25rem;
        color: #007BFF;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 700;
    }
    nav ul li a:hover {
        background-color: var(--blue); 
        color: var(--black);           
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    nav label span::before, 
    nav label span::after {
        content: ""; 
        display: block;
        background: var(--white);
        height: 3px;
        width: 25px;
        position: absolute;
        left: 0;
        transition: 0.3s;
    }
    nav label span::before { 
        top: -8px; 
    }
    nav label span::after { 
        top: 8px; 
    }
    #menu-toggle {
        display: none;
    }
    #menu-toggle:checked ~ ul {
        display: block;
        width: 100%; 
        margin-top: 1rem;
    }
    main{
        background-color: #EAEAEA;
        color: #000000;
    }
    a{
        color: #007BFF;
    }
    #innovation{
        position: relative;
        width: 100%;
    }
    #innovation::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 8px;
        z-index: 10;
        background-image: linear-gradient(to bottom, #007bff, transparent);
    }   
    .blur-area{
        display: grid;
        min-width: 21rem;
        backdrop-filter: blur(10px);
        background-color: rgba(33, 33, 33, 0.1);
        justify-items: center;
    }
    #innovation h2{
        font-size: 1.875rem;
        font-weight: 700;
        padding: 1.75rem 0;
    }
    #innovation p{
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        font-size: .875rem;
        line-height: 1.25rem;
    }   
    #innovation a{
        display: inline-block;
        background-color: #007BFF;
        color: #EAEAEA;
        transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
        font-family: var(--font);
        font-size: 1rem;
        font-weight: 700;
        padding: 1rem .75rem;  
        border-radius: 12px;
        text-decoration: none;
    }
    #innovation a:hover {
        background-color: var(--red); 
        transform: translateY(-5px); 
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); 
        color: var(--white); 
    }
    #expertise h2, #offer h2, #results h2, #results h3{
        padding-left: .875rem;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 1.75rem 0 1.75rem 0.875rem;
    }
    #expertise p{
        font-size: .875em;
        font-weight: 300;
        margin-right: -15px;
        line-height: 1rem;
     }
    #offer h3{
        font-size: 1.125rem;
        font-weight: 700;
        padding: 1.5rem 1.5rem 1rem 1.5rem;
    }
    #offer p{
        font-size: .75rem;
        line-height: 1rem;
        font-weight: 300;
        padding: 0 2.25rem 1rem .875rem;
    }
    #contact button{
        background-color: #007BFF;
        color: #EAEAEA;
        font-family: var(--font);
        font-weight: 700;
        min-width: 85%;
        height: 2.5rem;
        border-radius: 0.25rem;
        transition: background-color 0.3s ease, transform 0.2s ease;
        cursor: pointer;
        border: none;
    }
    #contact button:hover {
        background-color: var(--red); 
        transform: scale(1.02); 
    }
    .consulting, .solutions, .mergers, .digital, .advisory, .corp-inn{
        background-color: #007BFF;
        color: #EAEAEA;
        border-radius: 0.75rem;
        margin-bottom: 0.75rem;
        transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), box-shadow 0.3s ease;
        cursor: pointer;
        will-change: transform;
    }
    .consulting:hover, .solutions:hover, .mergers:hover, .digital:hover, .advisory:hover, .corp-inn:hover {
        transform: translateY(-5px); 
    }
    .consulting:active, .solutions:active, .mergers:active, 
    .digital:active, .advisory:active, .corp-inn:active {
        transform: translateY(-15px); 
        transition: transform 0.1s ease-out;
    }
    #results{
        background-color: #007BFF;
        color: #EAEAEA;
        padding-bottom: 1.25rem;
    }
    #results p{
        font-size: .875em;
        font-weight: 400;
        line-height: 1.25rem;
    }
    #results .growth:active .bar {
        animation: none; 
        height: 0;      
        transition: height 0.1s ease; 
    }
    #results .growth .bar {
        animation: stepUp 1s ease-in-out forwards;
    }
    #results .growth:active h3 {
        opacity: 0.5;
        transform: scale(0.98);
        transition: 0.2s;
    }
    .profits, .growth{
        background-color: #007BFF;
        color: #EAEAEA;
    }
    table{
        background-color: #000000;
        color: #EAEAEA;
        text-align: center;
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #333333;
    }
    th, td {
        border: 1px solid #333333;    
        padding: 1rem;
        text-align: center;
    }
    tr:nth-child(even) {
        background-color: #333333;
        color: #EAEAEA;
    }
    tr:nth-child(odd) {
        background-color: #000000;
        color: #EAEAEA;
    }
   
    footer{
        background-color: #000000;
        color: #EAEAEA;
    }
    footer h2{
        font-size: 1.875rem;
        font-weight: 700;
        padding: 1.75rem .875rem;
    }
    .info{
        text-align: center;
        margin-top: 2.5rem;
        padding-bottom: 1.875rem;
        line-height: 1.5rem;
    }
    #contact-form {
        display: grid;
        min-width: 85%;
        text-align: left;
        
    }
    #contact-form input{
        height: 2rem;
        text-align: left; 
        border: 2px solid #007bff;
    }
    #contact-form #help{
        height: 3.75rem;
        margin-bottom: 1.875rem;
        border: 2px solid #007bff;
    }
    #contact-form label{
        padding-top: 1rem;
    }
    /* ADD A DIV WITH THE CLASS OF CONTAINER TO EVERY CONTENT CONTAINER THIS IS ALLOW THE BASE ELEMENTS TO BE 100% WIDTH, BUT CONSTRAIN THE ACTUAL CONTENT TO 90% */
    .container {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
    }
    /* ADD TO "INNOVATION & INVESTMENT SECTION (Photo by Kevin Matos on Unsplash) */
    #innovation {
        background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/vanguard-hero.jpg') no-repeat center center/cover;
        height: 80vh;
        display: grid;
        place-items: center;
        text-align: center;
        overflow: hidden;
        color:#EAEAEA;
    }
    /* ADD FLOATING SVG LOGO BEFORE THE H1 */
    .logo h1::before {
        content: "";
        display: inline-block; 
        width: 3.5rem;         
        height: 3.5rem;
        background: url('images/vanguard-logo.svg') no-repeat center/contain;
        margin-right: 0.75rem; 
        vertical-align: middle; 
        
       
        animation: logoFloat 10s ease-in-out infinite;
        will-change: transform;
    }
    @keyframes logoFloat {
        0% {
            transform: translateY(0px) rotate(0deg);
        }
        33% {
            transform: translateY(-8px) rotate(2deg);
        }
        66% {
            transform: translateY(4px) rotate(-1deg);
        }
        100% {
            transform: translateY(0px) rotate(0deg);
        }
    }
   /* THIS ONE IS DONE FOR YOU */
    #bar-chart {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: flex-end;
        justify-content: space-around;
        gap: 1rem;
        height: 300px;
        width: 100%;
        max-width: 800px;
        padding: 1rem;
        position: relative;
    }
    /* ADD ON TRANSITION ON HEIGHT */
    .bar {
        width: 50px;
        background: var(--charcoal);
        border-radius: 10px;
        position: relative;
        transition: height 0.5s ease-in-out;
        height: 0;
        animation: stepUp 1s ease-in-out forwards;
    }
    /* THIS ONE IS DONE FOR YOU */
    .bar::after {
        content: attr(data-year);
        position: absolute;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1rem;
        font-weight: bold;
        color: var(--white);
    }
    @keyframes stepUp {
        0% {
            height: 0;
        }
        100% {
            height: var(--height);
        }
    }
}
    
/* MEDIA QUERIES (MEDIUM) */ 
@media only screen and (min-width: 800px) {
    nav label {
        display: none; 
    }
    nav ul {
        display: flex !important; 
        flex-direction: row;
        background-color: transparent;
        width: auto;
        margin: 0;
    }
    nav ul li {
        border: none;
        margin-left: 2rem;
    }
    nav ul li a {
        font-size: 1rem;
    }
    #offer .container {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 1.5rem; 
        padding-bottom: 2rem;
    }
    #offer h2 {
        grid-column: 1 / -1; 
    }
    #results .container{
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 1.5rem; 
        padding-bottom: 2rem;
    }
    #results h2, #results p{
        grid-column: 1 / -1;
    }
    th, td {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;    
    }
    .profits {
        grid-column: 1 / 1;
    }
    .growth {
        grid-column: 2 / 2;
    }
    #contact .container {
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }
    #contact .form {
        width: 100%;
        max-width: 700px; 
    }
    .form, .info {
        width: 100%;
        max-width: 700px; 
        text-align: center;
    }
    #contact .info {
        width: 100%;
        text-align: center;
        margin-top: 3rem; 
    }
}

    /* MEDIA QUERIES (LARGE) */
@media only screen and (min-width: 800px) {
    #offer .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 1.5rem; 
        padding-bottom: 2rem;
    }
    #offer h2 {
        grid-column: 1 / -1; 
    }
    #contact .form{
        text-align: left;
        display: grid;
    }
    #contact-form{
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }
    input#name{
        grid-column: 1;
        grid-row: 2;
    }
    input#email{
        grid-column: 2;
        grid-row: 2;
    }
    input#company{
        grid-column: 1;
        grid-row: 4;
    }
    input#industry{
        grid-column: 2;
        grid-row: 4;
    }
    textarea#help{
        grid-column: 1;
        grid-row: 6;
    }
    button{
        grid-column: 2;
        grid-row: 6;
    }
}
